.custom {
  .ant-modal .ant-modal-content {
    background: linear-gradient(180deg, #cde2ff, #fff 60%);
  }
  .ant-modal-content {
    background: linear-gradient(180deg, #cde2ff, #fff 60%);

    .ant-modal-header {
      background: transparent;
    }
  }
}
