/* stylelint-disable */
// 仅仅作为开发环境调试使用，方便实时查看颜色，正式环境请忽略，通过style注入最新的，以src/theme/theme.config.ts中为准
// 无需引入页面

:root {
  --color-brand-primary: #183efc;
  --color-brand-text-primary: #183efc;
  --color-text-primary: #222222;
  --color-text-secondary: #6a7073;
  --color-text-weak: #9c9c9c;
  --btn-primary: #183efc;
  --btn-default-border: #e1e1e1;
  --btn-disabled-bg: #efefef;
  --input-bg: #fff;
  --input-disabled-bg: #efefef;
  --input-disabled-border: #efefef;
  --input-border: #e1e1e1;
  --input-border-hover: #9c9c9c;
  --input-placeholder-text-color: #6a7073;
  --tabs-active-bg: #f7f7f7;
  --tabs-border-color: #f0f0f0;
  --select-border: #e1e1e1;
  --select-border-hover: #9c9c9c;
  --select-bg: #fff;
  --select-dropdown-bg: #fff;
  --select-item-hover-bg: #fafafa;
  --modal-bg: #fff;
  --modal-header-bg: #f8fbfd;
  --modal-border-color: #e1e1e1;
  --modal-input-border-color: #e1e1e1;
  --modal-mask-bg: rgba(0, 0, 0, 0.5);
  --divider-line-color: #e8e8e8;
  --dropdown-bg: #fff;
  --dropdown-border-color: #e1e1e1;
  --dropdown-item-hover-bg: #fafafa;
  --border-primary-color: #e1e1e1;
  --bg-primary: #fff;
  --bg-base-gray: #f7f7f7;
  --card-gradient-header-bg: linear-gradient(1deg, #ffffff 10%, #cde2ff 100%);
  --list-item-disabled: rgb(246, 246, 246, 0.4);
  --list-hover-primary-bg: #f9f9f9;
  --list-hover-light-bg: #fbfbfb;
  --font-family: pf-medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --depth-buy-bg: #d6fff4;
  --depth-sell-bg: #ffdde2;
  --color-gray: #222222;
  --color-green: #45a48a;
  --color-red: #c54747;
  --color-blue: #183efc;
  --color-yellow: #c49002;
  --color-white: #fff;
  --color-gray-50: #f7f7f7;
  --color-gray-60: #f6f6f6;
  --color-gray-70: #fafafa;
  --color-gray-80: #fbfbfb;
  --color-gray-90: #f3f3f3;
  --color-gray-95: #f4f4f4;
  --color-gray-120: #f8f8f8;
  --color-gray-125: #f9f9f9;
  --color-gray-130: #f0f0f0;
  --color-gray-150: #efefef;
  --color-gray-160: #ededed;
  --color-gray-180: #eeeeee;
  --color-gray-185: #e4e4e4;
  --color-gray-190: #e8e8e8;
  --color-gray-195: #e6e6e6;
  --color-gray-200: #e1e1e1;
  --color-gray-220: #d9dde3;
  --color-gray-250: #dadada;
  --color-gray-260: #d8d8d8;
  --color-gray-300: #d8d8d8;
  --color-gray-340: #c8c8c8;
  --color-gray-360: #c3c3c3;
  --color-gray-370: #c4c4c4;
  --color-gray-380: #b1b1b1;
  --color-gray-400: #9ba6ad;
  --color-gray-450: #9e9e9e;
  --color-gray-500: #9c9c9c;
  --color-gray-550: #929292;
  --color-gray-570: #767e8a;
  --color-gray-580: #424242;
  --color-gray-600: #6a7073;
  --color-gray-620: #454548;
  --color-gray-650: #514f4f;
  --color-gray-651: #2e3337;
  --color-gray-652: #2e2e39;
  --color-gray-653: #303030;
  --color-gray-655: #2b2f34;
  --color-gray-656: #2e2e39;
  --color-gray-660: #1d2025;
  --color-gray-665: #2b2e39;
  --color-gray-670: #2e3338;
  --color-gray-680: #23262a;
  --color-gray-690: #262626;
  --color-gray-700: #29292c;
  --color-gray-720: #1d2125;
  --color-gray-730: #1a1c1f;
  --color-gray-740: #070707;
  --color-gray-750: #1e2226;
  --color-gray-800: #191c20;
  --color-gray-900: #222222;
  --color-gray-950: #000000;
  --color-yellow-400: #ffda00;
  --color-yellow-490: #fcd535;
  --color-yellow-500: #fdd436;
  --color-yellow-550: #f5b52c;
  --color-yellow-560: #ffa90e;
  --color-yellow-600: #c49002;
  --color-red-100: #ffdde2;
  --color-red-500: #fa2e4c;
  --color-red-600: #c54747;
  --color-red-650: #f95050;
  --color-red-700: #ff3d3d;
  --color-green-100: #d6fff4;
  --color-green-600: #29be95;
  --color-green-700: #45a48a;
  --color-blue-50: #f8fbfd;
  --color-blue-400: #4775ee;
  --color-blue-500: #3253f6;
  --color-blue-700: #183efc;
}

:root[data-theme='dark'] {
}
