/* stylelint-disable */
// 仅仅作为开发环境调试使用，方便实时查看颜色，正式环境请忽略，通过style注入最新的，以src/theme/theme.config.ts中为准
// 无需引入页面

:root {
  --color-primary: #183efc;
  --color-text-primary: #051c2c;
  --color-text-secondary: #6a7073;
  --color-text-weak: #9c9c9c;
  --btn-primary: #183efc;
  --btn-disable-bg: #efefef;
  --link-color: #183efc;
  --border-color: #e1e1e1;
  --page-bg: #f7f7f7;
  --card-bg: #f7f7f7;
  --active-bg: #f7f7f7;
  --placeholder-bg: #f7f7f7;
  --hover-bg: rgba(225, 225, 225, 0.2);
  --page-container-header-bg: #f8fbfd;
  --card-gradient-bg: linear-gradient(1deg, #ffffff 50%, #e6f1ff 100%);
  --card-gradient-header-bg: linear-gradient(1deg, #ffffff 10%, #cde2ff 100%);
  --color-white: #fff;
  --color-black: #000;
  --color-gray-50: #f7f7f7;
  --color-gray-60: #f6f6f6;
  --color-gray-100: #f6f6f6;
  --color-gray-120: #f8f8f8;
  --color-gray-150: #efefef;
  --color-gray-160: #ededed;
  --color-gray-180: #eeeeee;
  --color-gray-190: #e8e8e8;
  --color-gray-200: #e1e1e1;
  --color-gray-220: #d9dde3;
  --color-gray-250: #dadada;
  --color-gray-260: #d8d8d8;
  --color-gray-350: #e6e6e6;
  --color-gray-380: #b1b1b1;
  --color-gray-400: #9ba6ad;
  --color-gray-500: #9c9c9c;
  --color-gray-600: #6a7073;
  --color-gray-900: #051c2c;
  --color-yellow-500: #fdd436;
  --color-yellow-550: #f5b52c;
  --color-yellow-600: #c49002;
  --color-red-600: #c54747;
  --color-green-700: #45a48a;
  --color-blue-700: #183efc;
  --font-family: pf-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
:root[data-theme='dark'] {
}
