@font-face {
  font-family: "iconfont"; /* Project id 4571567 */
  src: url('iconfont.woff2?t=1717469124608') format('woff2'),
       url('iconfont.woff?t=1717469124608') format('woff'),
       url('iconfont.ttf?t=1717469124608') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo-caozuo:before {
  content: "\e70e";
}

.icon-pankou-mai:before {
  content: "\e70f";
}

.icon-quancang:before {
  content: "\e710";
}

.icon-quanbupingcang:before {
  content: "\e711";
}

.icon-xiao-jia:before {
  content: "\e712";
}

.icon-a-guanbicaozuo:before {
  content: "\e713";
}

.icon-guanbi:before {
  content: "\e714";
}

.icon-pankou-mai1:before {
  content: "\e715";
}

.icon-shouqi:before {
  content: "\e716";
}

.icon-anniu-jia:before {
  content: "\e717";
}

.icon-xialagengduo:before {
  content: "\e718";
}

.icon-tianjiagengduo:before {
  content: "\e719";
}

.icon-shoucang:before {
  content: "\e71a";
}

.icon-xiao-jian:before {
  content: "\e71b";
}

.icon-fenxiang:before {
  content: "\e71c";
}

.icon-cehuagengduo:before {
  content: "\e71d";
}

.icon-sousuo:before {
  content: "\e71e";
}

.icon-anniu-jianqu:before {
  content: "\e71f";
}

.icon-gengduopinzhong:before {
  content: "\e70a";
}

.icon-yidong:before {
  content: "\e70b";
}

.icon-pankou-maimai:before {
  content: "\e70c";
}

.icon-a-xialagengduopankou:before {
  content: "\e70d";
}

